/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mon code */

body{
	font-family: 'Open Sans', sans-serif;
}

section {
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 3vh;	
}

h2 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-family: 'Patua One', cursive;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}
/* ------------------------------ Section header -------------------- */
nav {
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	top: 0px;
}

nav > a {
	text-decoration: none;
	color: white;
	display: flex;
  	align-items: center;
  	justify-content:center;
	width: 100vw;
	height: 10vh;
}

header {
	background-color: #006699;
	display: block;
	position: fixed;
	z-index: 5;
	width: 100vw;
	margin-top: 0px;
  	padding: 10px;
  	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  	height: 8vh;
  	transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -8vh;
}

.lien {
	transition: 0.3s ease;
	background: #006699;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	border-top: 3px solid #006699;
	border-bottom: 3px solid #006699;
	padding: 10px 0;
  	margin: 0 10px;
  	height: 5vh;
}

.lien:hover {
	border-top: 3px solid #ffffff;
  	border-bottom: 3px solid #ffffff;
}
/* ------------------------------ Page Title -------------------- */

#title {
	position: relative;
	width: 100vw;
	height: 100vh;
	color: white;
	background: url("../images/bureau.jpg") no-repeat center center fixed;
  	background-size: cover;
  	overflow: hidden;
  	margin-top: 0px;
}

#title > h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	font-family: 'Chakra Petch', sans-serif;
}
#title > h2 {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}

#title > img {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
}

#title > button {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

#title > button:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

#title > .menu {
	position: absolute;
	left: 95%;
	top: 5%;
	width: 38px;
}


/* ------------------------------ A propos ----------------------- */

#about {
	position: relative;
	width: 100vw;
	height: 80vh;
	display: block;
}

 #about > section {
  	position: relative;
  	padding-top: 20px;
  }

  #about > section > p > strong {
  	color: #006699;
  	font-weight: bold;
  	font-size: 16px;
  }

#about > section > p {
	position: relative;
	left: 50%;
	top: 45%;
	margin-right: 30px;
	margin-top: 5px;
	width: 40vw;
}

#about > img {
	position: absolute;
	top: 15%;
	left: 20%;
	height: 200px;
}

.roundedImage{
	border-radius: 50%;
	border: 5px solid #006699;
}

.skills > div > img {
	width: 50px;
}

.skills {
	display: flex;
	width: 91vw;
	justify-content: space-around;
	flex-direction: row;
	margin: 0 auto;
	top: 18%;
}

.skills > div {
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.skills > div > h3 {
	font-weight: bold;
	font-size: 20px;
	margin: 20px 0 0;
}

.skills > div > p {
	text-align: center;
	font-size: 15px;
	margin: 15px 0 0;
}

/* ------------------------------ Compétences ------------------------- */
/* 
// Responsive My Skills Box Widget
// Made with ❤ by @Pawan_Mall
// http://www.pawanmall.net 
*/

/*#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    //border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    width: 80%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 80%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 75%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 75%}
}#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 30%}
}.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}

#skills {
	margin-bottom: 40px;
}

#skills > h2 {
	margin-bottom: 40px;
}
*/
/* ------------------------------ Projets ------------------------- */

#project > p {
	text-align: center;
	margin: 40px 0px;
}

#project {
	background-color: #006699;
	color: white;
	margin-bottom: 0px; 
	padding-bottom: 10px;
}

.col-md-6 > a > .back {
	width: 250px;
	height: 190px;
}

.col-md-6 > a > .back > .hover {
	opacity: 0;
	width: 250px;
	height: 190px;

}

.col-md-6 > a > .back > .hover:hover {
	transition: .3s ease-in-out;
	z-index: 3;
	background-color: rgba(0,0,0 , 0.8);
	opacity: 1;
}

.col-md-6 > a > .back > .hover > img {
	position: relative;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}

.col-md-6 > a > .back > .hover > h3 {
	position: relative;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	width: 50%; 
	font-size: 18px;
	text-align: center;
}

.col-md-6 > a > .back > .hover > h4 {
	position: relative;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	width: 50%;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

.col-md-6 > a > img {
	width: 250px;
	height: 190px;
	margin-top: 40px;
	border-radius: 10px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.col-md-6 > a > img:hover {
	opacity: .5;
	transform: scale(0.9);
	border: black solid 3px;
}

.col-md-6 > h3 {
	margin-left: 20px;
	margin-top: 10px;
}

.col-md-6 {
	width: 250px;
	height: 190px;
	margin-top: 20px;
}

.row {
	margin-bottom: 20px;

}

/* ------------------------------ Contact ------------------------- */

#contact {
	background-color: #13293d;
	margin-top: 0px;
	color: white;
	margin-bottom: 0px; 
	padding-bottom: 50px;
	text-decoration: none;
	position: relative;
	height: 50vh;
}
.link{
	position: relative;
	width: 50%;
	left: 20%;
	top: 10%;
}

#contact > .link > a > img {
	width: 20px;
	margin: 10px 2vh 10px 0vh;
	display: inline-block;
	vertical-align: middle;

}



#contact > .link > a {
	color: white;
	position: relative;
}

#contact > p {
	text-align: center;
	margin: 40px 0px;

}

#contact > .link > a:hover {
	color: #ffbe00
}

.socialmedia {
	position: absolute;
	top: 60%;
	left: 60%;
	z-index: 2;
	display: block;

}

.socialmedia > a > img {
	margin-left: 5vh;
	width: 30px;
}


.socialmedia > a > img:hover {
	transform-origin: 50% 50%;
	transform: rotate(720deg);
	transition: transform .9s;
}

#contact > a > img {
	position: absolute;
	left: 90%;
	top: 90%;
	width: 30px;
}

/* ------------------------------ Footer ------------------------- */

footer {
	text-align: center;
	padding: 20px 0px 10px;
	background-color: #13293d;
	color: white;
	font-size: 10px;
}


/* -------------------------------- Responsive -------------------- */

@media screen and (max-width: 709px) {

	header {
		height: 7vh;
		padding: 8px;
	}

	.nav-up {
		top: -6vh;
	}
  .lien {
  	font-size: 12px;
  }

  p {
  	font-size: 14px;
  	margin: 0px 10px;
  }

  #about {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: block;
}

  #about > section {
  	position: relative;
  	padding-top: 28vh;
  }

  #about > section > p {
	margin: 0 auto;
	left: auto;
	top: auto;
	position: relative;
	width: 80vw;
	}

	
  #about > img {
  	left: 50%;
  	top: auto;
  	transform: translateX(-50%);
  	position: absolute;
  	height: 160px;
  }

#about > .skills {
	padding-top: 0px;
}

.skills {
	flex-direction: column;
	margin: 0px;
	top: 0%;
}
.skills > div {
	margin: 15px 0 0;
}

.skills > div > img {
	width: 40px;
}

.skills > div > h3 {
	font-size: 15px;
	margin: 15px 0 0;
}

.skills > div > p {
	font-size: 12px;
	margin: 12px 0 0;
}
/*  #Skill-Area { 
  	font-size: 15px;
  }*/

  .socialmedia {
	position: relative;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	margin-top: 10px;
	display: block;
	width: 30%;

}

.socialmedia > a > img {
	margin-left: 10px;
	height: 25px;
}

#contact {
	height: 50vh;
}

.link {
	top: 0%;
	width: 80%;
}

.link > a {
	margin-top: 15px;
	font-size: 14px;
	position: relative;
	display: block;
}

#contact > .link > a > img {
	width: 18px;
	margin: 0px 10px 0px 0px;
}

#contact > a > img {
	left: 80%;
}

.responsive {
	display: none;
}

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content:center;
}

@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}
